     *{box-sizing: border-box;
}

        #clockTick{ 

            font-size: 20px; 

            width: 100%; 
          
            padding: 15px;

            margin: 20px; 

            text-align: center; 

            border: 2px solid black; 

            border-radius: 20px; 

        } 
@media only screen and (min-width: 768px){
#clockTick{ width: 400px;

}
}

    
